<div class="ui individual grid">
  <app-select-card iconClasses="calendar alternate outline" routerLink="visit-management" buttonName="Wizyty"></app-select-card>
  <app-select-card iconClasses="users" routerLink="user-management" buttonName="Użytkownicy"></app-select-card>
  <app-select-card iconClasses="syringe" routerLink="desease-list" buttonName="Klasyfikacja chorób ICD10"></app-select-card>
  <app-select-card iconClasses="pills" routerLink="medicine-list" buttonName="Rejestr produktów leczniczych"></app-select-card>
</div>

<div class="ui container">
  <router-outlet></router-outlet>
</div>
