<div class="ui container">
  <div class="ui form form-width">
    <div class="ui stacked segment">
      <div class="field">
        <div class="ui left icon input">
          <i class="envelope icon"></i>
          <input type="email" name="email" placeholder="E-mail" [(ngModel)]="email" required>
        </div>
      </div>
      <div class="field">
        <div class="ui left icon input">
          <i class="lock icon"></i>
          <input type="password" name="password" placeholder="Hasło" [(ngModel)]="password" required>
        </div>
      </div>
      <div class="ui fluid green submit button">Zaloguj się</div>
    </div>
    <div class="ui error message"></div>
  </div>
</div>
