<div class="ui container">
  <form class="ui form">
    <div class="ui stacked segment">
      <div class="field">
        <div class="ui left icon input">
          <i class="envelope icon"></i>
          <input type="email" name="email" placeholder="E-mail" [(ngModel)]="email" required>
        </div>
      </div>
      <div class="field">
        <div class="ui left icon input">
          <i class="lock icon"></i>
          <input type="password" name="password" placeholder="Hasło" [(ngModel)]="password" required>
        </div>
      </div>
        <div class="ui fluid green submit button" (click)="login()">Zaloguj się</div>
    </div>
    <div class="ui error message"></div>
  </form>
  <div class="ui active inverted dimmer" *ngIf="isLogin">
    <div class="ui large text loader">Logowanie</div>
  </div>
</div>
