
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="ui form form-width" >
  <div class="ui stacked segment">
    <div class="field">
      <div class="ui left icon input">
        <i class="envelope icon"></i>
        <input type="email" name="email" formControlName="email" placeholder="E-mail" required>
      </div>
    </div>
    <div class="field">
      <div class="ui left icon input">
        <i class="lock icon"></i>
        <input type="password" name="password" formControlName="password" placeholder="Hasło" required>
      </div>
    </div>
    <button class="ui fluid large green submit button">Zaloguj się</button>
  </div>
  <div class="ui error message"></div>
</form>
<div class="ui active inverted dimmer" *ngIf="isLogin">
  <div class="ui large text loader">Logowanie</div>
</div>
