<a class="ui orange ribbon label">Kreator roli</a>
<br/>
<br/>
<div class="ui form">
  <div class="field">
    <label>Nazwa roli</label>
    <input type="text" placeholder="Nazwa roli" name="roleName" [(ngModel)]="role.name">
  </div>
  <div class="field">
    <label>Uprawnienia</label>
    <div class="grouped fields">
      <div *ngFor="let permission of permissions; let i = index"  class="ui toggle checkbox field">
        <input id="{{permission.id}}" type="checkbox" title=""
               (change)="onCheckboxChange(permission, $event)">
        <label for="{{permission.id}}">{{permission.name}}</label>
      </div>
    </div>
  </div>
  <button class="ui green submit button">Zapisz role</button>
  <div class="ui error message"></div>
</div>

