<div class="ui grid">
  <!--<div class="sixteen wide column">-->
    <!--<div class="ui segment">-->
      <!--<div class="ui four statistics">-->
        <!--<div class="statistic">-->
          <!--<div class="value">-->
            <!--<i class="user md icon"></i>-->
            <!--{{officeUsersCounter}}-->
          <!--</div>-->
          <!--<div class="label">-->
            <!--Lekarzy-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="statistic">-->
          <!--<div class="value">-->
            <!--<i class="first aid icon"></i>-->
            <!--{{finishedVisitsCounter}}-->
          <!--</div>-->
          <!--<div class="label">-->
            <!--Wizyt-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="statistic">-->
          <!--<div class="value">-->
            <!--<i class="pills icon"></i>-->
            <!--{{prescribedMedicinesCounter}}-->
          <!--</div>-->
          <!--<div class="label">-->
            <!--Przepisanych lekarstw-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="statistic">-->
          <!--<div class="value">-->
            <!--<i class="syringe icon"></i>-->
            <!--{{diagnosedDeseasesCounter}}-->
          <!--</div>-->
          <!--<div class="label">-->
            <!--Zdiagnozowanych chorób-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <div class="eight wide column">Pierwsza kolumna</div>
  <div class="eight wide column">
    <app-visit-list [homeMode]="true"></app-visit-list>
  </div>
</div>
