<div class="ui container">
  <div class="ui grid">
    <div class="three wide column">
      <div class="ui vertical menu">
        <div class="item">
          <div class="header">
            <i class="user icon"></i>
            Użytkownicy
          </div>
          <div class="menu">
            <a class="item" routerLink="office-user-list" routerLinkActive="active">
              <i class="list ul card icon"></i>
              Lista użytkowników
            </a>
          </div>
          <div class="menu">
            <a class="item" routerLink="create-office-user" routerLinkActive="active">
              <i class="pencil alternate icon"></i>
              Stwórz specjalistę
            </a>
          </div>
          <div class="menu">
            <a class="item" routerLink="office-user-scheduler" routerLinkActive="active">
              <i class="calendar alternate outline icon"></i>
              Harmonogram
            </a>
          </div>
        </div>
        <div class="item">
          <div class="header">
            <i class="users icon"></i>
            Role
          </div>
          <div class="menu">
            <a class="item" routerLink="role-list" routerLinkActive="active">
              <i class="list ul card icon"></i>
              Lista ról
            </a>
          </div>
          <div class="menu">
            <a class="item" routerLink="create-role" routerLinkActive="active">
              <i class="pencil alternate icon"></i>
              Stwórz rolę
            </a>
          </div>
        </div>
        <div class="item">
          <div class="header">
            <i class="users icon"></i>
            Wizyty
          </div>
          <div class="menu">
            <div class="item" routerLink="visit-type-list" routerLinkActive="active">
              <i class="list ul card icon"></i>
              Lista
            </div>
            <div class="item" routerLink="create-visit-type" routerLinkActive="active">
              <i class="pencil alternate icon"></i>
              Stwórz
            </div>
          </div>
        </div>
        <div class="item">
          <div class="header">
            <i class="users icon"></i>
            Statystyki
          </div>
          <div class="menu">
            <a class="item" routerLink="month-visits-stats" routerLinkActive="active">
              <i class="chart bar icon"></i>
              Wizyty w miesiacu
            </a>
          </div>
          <div class="menu">
            <a class="item" routerLink="user-types-stats" routerLinkActive="active">
              <i class="chart pie icon"></i>
              Istniejący żytkownicy
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="thirteen wide stretched column">
      <div class="ui segment">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
