<div class="ui container">
  <div class="ui grid">
    <div class="three wide column">
      <div class="ui vertical menu">
        <div class="header">
          Panel administratora
        </div>
        <div class="item">
          <div class="header">
            <i class="user icon"></i>
            Użytkownicy
          </div>
          <div class="menu">
            <a class="item" routerLink="office-user-list" routerLinkActive="active">
              <i class="list ul card icon"></i>
              Lista pracowników
            </a>
          </div>
          <div class="menu">
            <a class="item" routerLink="create-office-user" routerLinkActive="active">
              <i class="wpforms card icon"></i>
              Stwórz pracownika
            </a>
          </div>
        </div>
        <div class="item">
          <div class="header">
            <i class="users icon"></i>
            Role
          </div>
          <div class="menu">
            <a class="item" routerLink="role-list" routerLinkActive="active">
              <i class="list ul card icon"></i>
              Lista ról
            </a>
          </div>
          <div class="menu">
            <a class="item" routerLink="create-role" routerLinkActive="active">
              <i class="wpforms card icon"></i>
              Stwórz rolę
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="thirteen wide stretched column">
      <div class="ui segment">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
