<ng-container *ngIf="forAdministration">
  <a class="ui blue ribbon label">Lista użytkowników</a>
  <br/>
  <br/>
</ng-container>
<div class="three ui basic buttons" *ngIf="forAdministration">
  <button class="ui button" (click)="selectUserType('all')">Wszyscy</button>
  <button class="ui button" (click)="selectUserType('office')">Pracownicy</button>
  <button class="ui button" (click)="selectUserType('default')">Pacjenci</button>
</div>
<table class="ui table" *ngIf="users.length > 0">
  <thead>
  <tr>
    <th>Imię</th>
    <th>Nazwisko</th>
    <th *ngIf="(userType === 'all' || userType === 'office') && forAdministration">
      Stanowisko
    </th>
    <th>Pesel</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <td>
      {{user.userDetails.firstName}}
    </td>
    <td>
      {{user.userDetails.lastName}}
    </td>
    <td *ngIf="(userType === 'all' || userType === 'office') && forAdministration">
      {{user.roleName}}
    </td>
    <td>{{user.userDetails.pesel}}</td>
    <td>
      <button (click)="showModalToDelete(user)" class="ui red icon right floated button"><i class="trash alternate outline align center icon"></i></button>
    </td>
  </tr>
  </tbody>
</table>
<div class="ui warning message" *ngIf="users.length === 0">
  <div class="content">
    <i class="info icon"></i>
    Nie znaleziono żadnych danych!</div>
</div>


<div class="ui basic modal" *ngIf="userToDelete">
  <div class="ui icon header">
    <i class="trash icon"></i>
    Usuwanie użytkownika
  </div>
  <div class="content">
    <p>Jesteś pewien, że chcesz ostatecznie usunąć użytkownika {{userToDelete.userDetails.firstName}} {{userToDelete.userDetails.lastName}}?</p>
  </div>
  <div class="actions">
    <div class="ui red basic cancel inverted button">
      <i class="remove icon"></i>
      Nie
    </div>
    <div class="ui green ok inverted button" (click)="deleteUser(userToDelete)">
      <i class="checkmark icon"></i>
      Tak
    </div>
  </div>
</div>
