<a class="ui teal ribbon label">Lista rodzajów wizyt</a>
<table class="ui table" *ngIf="visitTypes.length > 0">
  <thead>
  <tr>
    <th class="eight wide">Nazwa</th>
    <th class="five wide">Czas trwania wizyty</th>
    <th class="three wide"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let visitType of visitTypes">
    <td>{{visitType.name}}</td>
    <td>{{visitType.duration}} minut</td>
    <td>
      <button (click)="showModalToDelete(visitType)" class="ui icon red right floated button"><i class="trash alternate outline align center icon"></i></button>
    </td>
  </tr>
  </tbody>
</table>
<div class="ui warning message" *ngIf="visitTypes.length === 0">
  <div class="content">
    <i class="info icon"></i>
    Nie znaleziono żadnych typów wizyt!</div>
</div>


<div class="ui basic modal" *ngIf="visitTypeToDelete">
  <div class="ui icon header">
    <i class="trash icon"></i>
    Usuwanie rodzaju wizyty
  </div>
  <div class="content">
    <p>Jesteś pewien, że chcesz ostatecznie usunąć rodzaj wizyty o nazwie {{visitTypeToDelete.name}}?</p>
  </div>
  <div class="actions">
    <div class="ui red basic cancel inverted button">
      <i class="remove icon"></i>
      Nie
    </div>
    <div class="ui green ok inverted button" (click)="deleteVisitType(visitTypeToDelete)">
      <i class="checkmark icon"></i>
      Tak
    </div>
  </div>
</div>
