<a class="ui ribbon blue label">Dane użytkownika</a>
<br/>
<br/>
<div class="ui grid" *ngIf="user">
  <div class="eight wide column" *ngIf="user.userDetails">
    <div class="ui segment">
      <div class="ui top left attached label">Dane osobowe</div>
      <div class="ui small header">
        <div class="content">
          Email
          <div class="sub header">{{userEmail}}</div>
        </div>
      </div>
      <div class="ui small header">
        <div class="content">
          Imiona
          <div class="sub header">{{user.userDetails.firstName}} {{user.userDetails.middleName}}</div>
        </div>
      </div>
      <div class="ui small header">
        <div class="content">
          Nazwisko
          <div class="sub header">{{user.userDetails.lastName}}</div>
        </div>
      </div>
      <div class="ui small header">
        <div class="content">
          Nazwisko rodowe
          <div class="sub header">{{user.userDetails.familyName}}</div>
        </div>
      </div>
      <div class="ui small header">
        <div class="content">
          Pesel
          <div class="sub header">{{user.userDetails.pesel}}</div>
        </div>
      </div>
      <div class="ui small header">
        <div class="content">
          Płeć
          <div class="sub header">
            {{user.userDetails.gender}}
          </div>
        </div>
      </div>
      <div class="ui small header">
        <div class="content">
          Data urodzenia
          <div class="sub header">{{user.userDetails.birthday}}</div>
        </div>
      </div>
      <div class="ui small header">
        <div class="content">
          Numer telefonu
          <div class="sub header">{{user.userDetails.phone}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="eight wide column" *ngIf="user.address">
    <div class="ui segment">
      <div class="ui top left attached label">Adres</div>
      <div class="ui small header">
        <div class="content">
          Ulica
          <div class="sub header">{{user.address.street}}</div>
        </div>
      </div>
      <div class="ui small header">
        <div class="content">
          Numer domu
          <div class="sub header">{{user.address.houseNumber}}</div>
        </div>
      </div>
      <div class="ui small header">
        <div class="content">
          Numer mieszkania
          <div class="sub header">{{user.address.apartmentNumber}}</div>
        </div>
      </div>
      <div class="ui small header">
        <div class="content">
          Miasto
          <div class="sub header">{{user.address.city}}</div>
        </div>
      </div>
      <div class="ui small header">
        <div class="content">
          Kod pocztowy
          <div class="sub header">{{user.address.zip}}</div>
        </div>
      </div>
      <div class="ui small header">
        <div class="content">
          Województwo
          <div class="sub header">{{user.address.voivodeship}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="eight wide column">
    <div class="ui segment" *ngIf="user.isOfficeUser && user.officeDetails">
      <div class="ui top left attached label">Dane zawodowe</div>
      <br/>
      <div class="ui small header">
        <div class="content">
          Stanowisko
          <div class="sub header">{{user.roleName}}</div>
        </div>
      </div>
      <div class="ui small header" *ngIf="user.officeDetails.isSpecialist">
        <div class="content">
          Stopień naukowy
          <div class="sub header">{{user.officeDetails.degree}}</div>
        </div>
      </div>
      <div class="ui small header" *ngIf="user.officeDetails.isSpecialist">
        <div class="content">
          PWZ
          <div class="sub header">{{user.officeDetails.pwz}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
