<form class="ui form">
  <h4 class="ui dividing header">Wizyta</h4>
  <div class="field">
    <label>Pacjent</label>
    <select class="ui search dropdown" semanticDropdown>
      <option value="">Pacjent</option>
      <option value="AL">Alabama</option>
    </select>
  </div>
  <div class="field">
    <label>Pracownik</label>
    <select class="ui search dropdown" semanticDropdown>
      <option value="">Pracownik</option>
      <option value="AL">Alabama</option>
    </select>
  </div>
  <div class="field">
    <label>Data wizyty</label>
    <div class="ui calendar" semanticCalendar>
    </div>
    <br/>
  </div>

  <button class="ui green button" type="submit">
    Umów wizytę
  </button>
</form>


