<div class="ui mini menu">
  <a class="item" routerLink="/dashboard" *ngIf="!authService.isAdministrator()" routerLinkActive="active">
    <i class="tachometer alternate icon"></i>
    Start
  </a>

  <div class="right menu">
    <a class="item" routerLink="/administration" *ngIf="authService.isAdministrator()" routerLinkActive="active">
      <i class="wrench icon"></i>
      Administracja
    </a>
    <div class="ui dropdown item" routerLink="/profile" *ngIf="!authService.isAdministrator()">
      <i class="user circle icon"></i>
      Konto
    </div>
    <div class="item">
      <div class="ui primary button" (click)="logout()">Wyloguj się</div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
