<ng-container *ngIf="!homeMode">
  <div class="ui segment">
    <form class="ui form">
      <div class="field">
        <label>Status</label>
        <select class="ui dropdown" title="officeUsers" name="visitStatus" [(ngModel)]="visitStatus"
                (change)="initVisitsForOfficeUser()" semanticDropdown>
          <option value="">Wybierz status wizyty</option>
          <option value="planned">Umówiona</option>
          <option value="during">W trakcie</option>
          <option value="finished">Zakończona</option>
        </select>
      </div>
      <div class="field" *ngIf="forOfficeUser">
        <label>Specjalista wizyt</label>
        <div class="ui slider checkbox">
          <input type="checkbox" (change)="initVisitsForOfficeUser()" name="visitAll" [(ngModel)]="visitAll">
          <label>Wszystkie/Moje</label>
        </div>
      </div>
    </form>
  </div>
</ng-container>
<table class="ui table" *ngIf="visits.length > 0">
  <thead>
  <tr>
    <th>Data</th>
    <th *ngIf="user.isOfficeUser">Specjalista</th>
    <th *ngIf="!user.isOfficeUser">Pacjent</th>
    <th>Rodzaj wizyty</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let visit of visits">
    <td>{{visit.date}}</td>
    <td *ngIf="user.isOfficeUser">{{visit.officeUserId}}</td>
    <td *ngIf="!user.isOfficeUser">{{visit.userId}}</td>
    <td>{{visit.visitTypeId}}</td>
    <td>
      <div class="ui icon right floated buttons">
        <button class="ui button" *ngIf="(visitStatus !== 'finished') && user.isOfficeUser" [routerLink]="['/dashboard/make-visit', visit.id]"><i class="stethoscope icon"></i></button>
        <button class="ui button" *ngIf="visitStatus === 'finished'" [routerLink]="['/dashboard/visit-details', visit.id]"><i class="eye icon"></i></button>
        <button class="ui button" *ngIf="user.isOfficeUser"><i class="trash alternate outline width icon"></i></button>
      </div>
    </td>
  </tr>
  </tbody>
</table>
<div class="ui warning message" *ngIf="visits.length === 0">
  <div class="content">
    <i class="info icon"></i>
    Nie znaleziono żadnych wizyt!</div>
</div>
