<ng-container *ngIf="!homeMode">
  <div class="ui segment">
    <form class="ui form">
      <div class="field">
        <label>Status</label>
        <select class="ui dropdown" title="officeUsers" name="visitStatus" [(ngModel)]="visitStatus"
                (change)="initVisitsForOfficeUser()" semanticDropdown>
          <option value="">Wybierz status wizyty</option>
          <option value="planned">Umówiona</option>
          <option value="during">W trakcie</option>
          <option value="finished">Zakończona</option>
        </select>
      </div>
    </form>
  </div>
</ng-container>
<table class="ui table" *ngIf="visits.length > 0">
  <thead>
  <tr>
    <th>Data</th>
    <th *ngIf="user.isOfficeUser && !user.officeDetails.isSpecialist">Specjalista</th>
    <th>Pacjent</th>
    <th>Rodzaj wizyty</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let visit of visits">
    <td>{{visit.date}}</td>
    <td *ngIf="user.isOfficeUser && !user.officeDetails.isSpecialist">{{visit.officeUser.userDetails.firstName}}
      {{visit.officeUser.userDetails.lastName}}
    </td>
    <td>{{visit.user.userDetails.firstName}} {{visit.user.userDetails.lastName}}
      ({{visit.user.userDetails.pesel}})
    </td>
    <td>{{visit.visitType.name}}</td>
    <td>
      <div class="ui icon right floated buttons">
        <ng-container *showPrivileged="[209]">
          <button class="ui button" *ngIf="(visitStatus !== 'finished') && user.isOfficeUser"
                  [routerLink]="['/dashboard/make-visit', visit.id]"><i class="stethoscope icon"></i></button>
        </ng-container>
        <ng-container *showPrivileged="[208]">
          <button class="ui button" *ngIf="visitStatus === 'finished'"
                  [routerLink]="['/dashboard/visit-details', visit.id]"><i class="eye icon"></i></button>
        </ng-container>
        <ng-container *showPrivileged="[210]">
          <button class="ui red button" (click)="showModalToDelete(visit)"><i
            class="close icon"></i></button>
        </ng-container>


      </div>
    </td>
  </tr>
  </tbody>
</table>
<div class="ui warning message" *ngIf="visits.length === 0">
  <div class="content">
    <i class="info icon"></i>
    Nie znaleziono żadnych wizyt!
  </div>
</div>


<div class="ui basic modal" *ngIf="visitToDelete">
  <div class="ui icon header">
    <i class="close icon"></i>
    Odwołanie wizyty
  </div>
  <div class="content">
    <p>Jesteś pewien, że chcesz odwołać wizytę w terminie {{visitToDelete.date}} u specjalisty
      {{visitToDelete.officeUser.userDetails.firstName}} {{visitToDelete.officeUser.userDetails.lastName}}?</p>
  </div>
  <div class="actions">
    <div class="ui red basic cancel inverted button">
      <i class="remove icon"></i>
      Nie
    </div>
    <div class="ui green ok inverted button" (click)="deleteVisit(visitToDelete)">
      <i class="checkmark icon"></i>
      Tak
    </div>
  </div>
</div>
