<div class="ui segment">
  <a class="ui ribbon label">Dane użytkownika</a>

  <div><span>Id: </span> {{user.id}}</div>
  <div><span>isOfficeUser: </span>{{user.isUserOffice}}</div>
  <div><span>firstName: </span>{{user.userDetails.firstName}}</div>
  <div><span>lastName: </span>{{user.userDetails.lastName}}</div>
  <div><span>familyName: </span>{{user.userDetails.familyName}}</div>
  <div><span>birthday:</span>{{user.userDetails.birthday}}</div>
  <div><span>gender: </span>{{user.userDetails.gender}}</div>
  <div><span>pesel: </span>{{user.userDetails.pesel}}</div>
  <div><span>phone: </span>{{user.userDetails.phone}}</div>
  <div><span>city: </span>{{user.address.city}}</div>
  <div><span>street: </span>{{user.address.street}}</div>
  <div><span>houseNr: </span>{{user.address.houseNr}}</div>
  <div><span>aparmentNr: </span>{{user.address.apartmentNr}}</div>
  <div><span>voivodeship: </span>{{user.address.voivodeship}}</div>
  <div><span>zip: </span>{{user.address.zip}}</div>

</div>
