<a class="ui teal ribbon label">Kreator rodzaju wizyty</a>
<br/>
<br/>
<div class="ui form">
  <div class="field">
    <label>Nazwa</label>
    <input type="text" placeholder="Nazwa" name="visitTypeName" [(ngModel)]="visitType.name">
  </div>
  <div class="field">
    <label>Czas trwania wizyty</label>
    <input id="visitTypeDuration" type="number" placeholder="Czas trwania wizyty" name="visitTypeDuration" [(ngModel)]="visitType.duration">
  </div>
  <button class="ui green submit button">Stwórz rodzaj wizyty</button>
  <div class="ui error message"></div>
</div>
