<!--<p>-->
  <!--<app-create-role></app-create-role>-->
  <!--<app-role-list></app-role-list>-->
<!--</p>-->
<div class="ui grid">
  <div class="three wide column">
    <div #roleMenu class="ui vertical pointing menu">
      <a class="item" routerLink="role-list" routerLinkActive="active">
        Lista ról
      </a>
      <a class="item" routerLink="create-role" routerLinkActive="active">
        Stwórz rolę
      </a>
    </div>
  </div>
    <div class="twelve wide stretched column">
      <div class="ui segment">
        <router-outlet></router-outlet>
      </div>
    </div>
</div>
