<a class="ui orange ribbon label">Harmonogram pracy</a>
<div class="ui segment" *ngIf="isAdmin">
  <form class="ui form">
    <div class="field">
      <label>Pracownik</label>
      <select class="ui fluid dropdown" title="officeDetails" name="officeDetails" semanticDropdown>
        <option value="">Pracownik</option>
        <option *ngFor="let user of officeUsers" [value]="user.id">{{user.userDetails.firstName}}
          {{user.userDetails.lastName}} ({{user.userDetails.pesel}})
        </option>
      </select>
    </div>
  </form>
</div>
<ng-container *ngIf="officeUser">
  <div class="ui segment">
    <app-create-schedule [schedulerOwner]="officeUser" (scheduleCreated)="onCreateSchedule($event)"></app-create-schedule>
  </div>
  <div class="ui segment">
    <app-calendar [schedules]="schedules"></app-calendar>
  </div>
</ng-container>
