<div class="ui form">
  <!--Dane podstawowe-->
  <h4 class="ui dividing header">Dane podstawowe</h4>
  <div class="two fields">
    <div class="field">
      <label>Email</label>
      <input type="text" placeholder="Email">
    </div>
    <div class="field">
      <label>Rola</label>
      <select class="ui fluid dropdown" title="Rola">
        <option value="">Rola</option>
        <option value="Lekarz">Lekarz</option>
        <option value="Recepcjonista">Recepcjonista</option>
      </select>
    </div>
  </div>
  <div class="two fields">
    <div class="field">
      <label>Hasło</label>
      <input type="password" placeholder="Hasło">
    </div>
    <div class="field">
      <label>Powtórz hasło</label>
      <input type="password" placeholder="Powtórz hasło">
    </div>
  </div>

  <!--Dane zawodowe-->
  <h4 class="ui dividing header">Dane zawodowe</h4>

  <div class="two fields">
    <div class="field">
      <label>Tytuł naukowy</label>
      <input type="text" placeholder="Tytuł naukowy">
    </div>
    <div class="field">
      <label>PWZ</label>
      <input type="number" placeholder="PWZ">
    </div>
  </div>


  <!--Dane osobowe-->
  <h4 class="ui dividing header">Dane osobowe</h4>
  <div class="two fields">
    <div class="field">
      <label>Pierwsze imię</label>
      <input type="text" placeholder="Pierwsze imię">
    </div>
    <div class="field">
      <label>Drugie imie</label>
      <input type="text" placeholder="Drugie imię">
    </div>
  </div>
  <div class="two fields">
    <div class="field">
      <label>Nazwisko</label>
      <input type="text" placeholder="Nazwisko">
    </div>
    <div class="field">
      <label>Nazwisko panieńskie</label>
      <input type="text" placeholder="Nazwisko panieńskie">
    </div>
  </div>
  <div class="two fields">
    <div class="field">
      <label>Płeć</label>
      <select class="ui fluid dropdown" title="Płeć">
        <option value="">Płeć</option>
        <option value="M">Mężczyzna</option>
        <option value="K">Kobieta</option>
      </select>
    </div>
  </div>
  <div class="two fields">
    <div class="field">
      <label>Pesel</label>
      <input type="number" placeholder="Pesel">
    </div>
    <div class="field">
      <label>Numer telefonu</label>
      <input type="number" placeholder="Numer telefonu">
    </div>
  </div>

  <!--Adres-->
  <h4 class="ui dividing header">Adres</h4>
  <div class="three fields">
    <div class="field">
      <label>Ulica</label>
      <input type="number" placeholder="Ulica">
    </div>
    <div class="field">
      <label>Numer domu</label>
      <input type="number" placeholder="Numer domu">
    </div>
    <div class="field">
      <label>Numer mieszkania</label>
      <input type="text" placeholder="Numer mieszkania">
    </div>
  </div>
  <div class="three fields">
    <div class="field">
      <label>Miasto</label>
      <input type="text" placeholder="Miasto">
    </div>
    <div class="field">
      <label>Województwo</label>
      <select class="ui fluid dropdown" title="Województwo">
        <option value="">Województwo</option>
        <option value="DŚ">Dolnośląskie</option>
        <option value="KP">Kujawsko-Pomorskie</option>
        <option value="LB">Lubelskie</option>
        <option value="LS">Lubuskie</option>
        <option value="ŁD">Łódzkie</option>
        <option value="MZ">Mazowieckie</option>
        <option value="MP">Małopolskie</option>
        <option value="OP">Opolskie</option>
        <option value="PL">Podlaskie</option>
        <option value="PK">Podkarpackie</option>
        <option value="PM">Pomorskie</option>
        <option value="ŚL">Śląskie</option>
        <option value="ŚW">Świętokrzyskie</option>
        <option value="WP">Wielkopolskie</option>
        <option value="WM">Warmińsko-mazurskie</option>
        <option value="ZP">Zachodniopomorskie</option>

      </select>
    </div>
    <div class="field">
      <label>Numer mieszkania</label>
      <input type="text" placeholder="Numer mieszkania">
    </div>
  </div>

  <button class="ui button" type="submit">Stwórz pracownika</button>
</div>
