<div class="ui mini menu">
  <!--<a class="active item">-->
  <!--Home-->
  <!--</a>-->
  <!--<a class="item">-->
  <!--Messages-->
  <!--</a>-->
  <div class="right menu">
    <div class="item">
      <div class="ui primary button" (click)="logout()">Wyloguj się</div>
    </div>
  </div>
</div>

<div class="ui individual grid">
  <app-select-card routerLink="visit-management" buttonName="Wizyty"></app-select-card>
  <app-select-card routerLink="user-management" buttonName="Użytkownicy"></app-select-card>
  <app-select-card routerLink="role-management" buttonName="Role"></app-select-card>
</div>

<div class="ui container">
  <router-outlet></router-outlet>
</div>

